/* Webfont: Lato-Medium */@font-face {
    font-family: 'LatoMedium';
    src: url('Lato-Medium.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

