/* Webfont: Lato-Heavy */@font-face {
    font-family: 'LatoHeavy';
    src: url('Lato-Heavy.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

