/*
 * CSS Style Create for Bodega Roca S.A. Web
 * Author: DBG Creative - Franco Gasparini
 * Create on : 02/09/2016 
 *¨Project : Bodega Roca Web
 */
label {
  color: #b76751;
}
input {
  border-radius: 0px !important;
  padding: 18px 8px !important;
  margin: 5px 0 10px 0;
}
select {
  border-radius: 0px !important;
  padding: 8px 8px !important;
  margin: 5px 0 10px 0;
}
.nomargin {
  margin: 0px !important;
}
.nopadding {
  padding: 0px !important;
}
@media screen and (min-width: 1300px) {
  .container {
    max-width: 100%;
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  #inicio img {
    width: auto !important;
    height: 100% !important;
  }
}
@font-face {
  font-family: 'Minion';
  font-style: normal;
  src: url("Minion-Regular.eot");
  src: url("Minion-Regular.eot?#iefix") format('embedded-opentype'), url("Minion-Regular.woff") format('woff'), url("Minion-Regular.ttf") format('truetype');
}
#inicioLoading {
  height: 100%;
  width: 100%;
  background-color: #222;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  color: #fff;
}
.nopadding {
  padding: 0px !important;
}
.btn-roca {
  color: #b76751;
  background-color: transparent;
  border-color: #b76751;
}
.btn-roca .badge {
  color: #b76751;
  background-color: #fff;
}
.btn-roca:hover,
.btn-roca:focus,
.btn-roca:active,
.btn-roca.active,
.open .dropdown-toggle.btn-roca {
  color: #fff;
  background-color: #c4735c;
  border-color: #964c37;
}
.btn-roca:active,
.btn-roca.active,
.open .dropdown-toggle.btn-roca {
  background-image: none;
}
.btn-roca.disabled,
.btn-roca[disabled],
fieldset[disabled] .btn-roca,
.btn-roca.disabled:hover,
.btn-roca[disabled]:hover,
fieldset[disabled] .btn-roca:hover,
.btn-roca.disabled:focus,
.btn-roca[disabled]:focus,
fieldset[disabled] .btn-roca:focus,
.btn-roca.disabled:active,
.btn-roca[disabled]:active,
fieldset[disabled] .btn-roca:active,
.btn-roca.disabled.active,
.btn-roca[disabled].active,
fieldset[disabled] .btn-roca.active {
  background-color: #b76751;
  border-color: #964c37;
}
.btn-roca-light {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
.btn-roca-light .badge {
  color: #fff;
  background-color: #b76751;
}
.btn-roca-light:hover,
.btn-roca-light:focus,
.btn-roca-light:active,
.btn-roca-light.active,
.open .dropdown-toggle.btn-roca-light {
  color: #964c37;
  background-color: #fff;
  border-color: #fff;
}
.btn-roca-light:active,
.btn-roca-light.active,
.open .dropdown-toggle.btn-roca-light {
  background-image: none;
}
.btn-roca-light.disabled,
.btn-roca-light[disabled],
fieldset[disabled] .btn-roca-light,
.btn-roca-light.disabled:hover,
.btn-roca-light[disabled]:hover,
fieldset[disabled] .btn-roca-light:hover,
.btn-roca-light.disabled:focus,
.btn-roca-light[disabled]:focus,
fieldset[disabled] .btn-roca-light:focus,
.btn-roca-light.disabled:active,
.btn-roca-light[disabled]:active,
fieldset[disabled] .btn-roca-light:active,
.btn-roca-light.disabled.active,
.btn-roca-light[disabled].active,
fieldset[disabled] .btn-roca-light.active {
  background-color: #b76751;
  border-color: #964c37;
}
.modal-content .modal-body {
  height: calc(100vh - 300px);
  overflow-y: scroll;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1 9;
/* IE9 only */
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1 9;
/* IE9 only */
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.fade-in .one {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
}
.fade-in .two {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
#inicio {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
#inicio >img {
  width: 100%;
  height: auto;
}
#box_inicio {
  position: absolute;
  padding: 15px;
  background-color: rgba(2,2,2,0.85);
  color: #fff;
  width: 355px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -177px !important;
  margin-top: -200px !important;
}
#box_url{
  position: absolute;
    width: 100%;
  top: 50%;
  left: 0%;
  margin-left:  !important;
  margin-top: 250px !important;
  text-align: center;

}
#box_url a {
  color :#fff;
  text-decoration: none
}
#box_url a:hover {
  color :#fff;
  text-decoration: underline
}
#box_inicio .logoR {
  width: 150px !important;
  height: auto !important;
}
#box_inicio .idioma {
  font-family: "Minion";
  font-weight: 800;
  font-size: 14px;
  color: #b76751;
  text-align: center;
}
#box_inicio .pregunta {
  font-family: "Minion";
  font-size: 24px;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
#box_inicio .botones {
  background-color: #b76751;
  border-radius: 7px;
  text-align: center;
  width: 55px;
  padding: 5px 8px;
  margin: 10px 5px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 22px;
  font-family: "Minion";
  cursor: pointer;
}
#box_inicio .botones a {
  color: #fff;
  text-decoration: none;
}
#box_inicio .botones:hover {
  background-color: #9e5641;
}
#box_inicio #recuerda {
  color: #fff;
  font-size: 16px;
}
#box_inicio #recuerda input {
  margin-top: 5px;
}
.anitamte {
  width: 100%;
  border: 1px;
}
.animated_bg {
  width: 100%;
  height: 100% !important;
  display: block;
  background-repeat: no-repeat;
  background-position: center center !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.animate_hover {
  position: relative;
  overflow: hidden;
}
.animate_hover .animated_bg {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.animate_hover:hover .animated_bg {
  -moz-transform: scale(1.15) rotate(-1.5deg);
  -webkit-transform: scale(1.15) rotate(-1.5deg);
  -o-transform: scale(1.15) rotate(-1.5deg);
  -ms-transform: scale(1.15) rotate(-1.5deg);
  transform: scale(1.15) rotate(-1.5deg);
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1 9;
/* IE9 only */
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1 9;
/* IE9 only */
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1 9;
/* IE9 only */
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1 9;
/* IE9 only */
  }
  to {
    opacity: 1;
  }
}
.smaller {
  padding-top: 2px !important;
}
.smaller img {
  height: 40px !important;
  width: auto !important;
}
.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  padding-top: 20px;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
}
.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}
.brand-centered .navbar-brand img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.fotomobiles {
  display: none;
}
.fotomobiles .h1mobile {
  display: none;
}
.alert-roca {
  color: #b76751;
  background-color: #FFF;
  border-color: #b76751;
}
.navbar-roca {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  display: none;
  width: 100%;
  padding: 20px 0 !important;
  min-height: 70px;
  top: 0;
  left: 0;
  z-index: 9999;
  border-radius: 0;
  font-size: 16px;
  color: #fff !important;
  font-family: "Minion";
  font-weight: 700;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar-roca a {
  color: #ccc;
}
.navbar-roca a.active {
  color: #b76751;
}
.navbar-roca a:hover {
  color: #b76751;
}
.navbar-roca .navbar-left {
  padding-left: 0px;
}
.navbar-roca .navbar-left li {
  padding-left: 25px;
}
.navbar-roca .navbar-left li :hover {
  background: transparent;
}
.navbar-roca .navbar-right {
  padding-right: 0px;
}
.navbar-roca .navbar-right li {
  padding-right: 25px;
}
.navbar-roca .navbar-right li :hover {
  background: transparent;
}
.navbar-roca .navbar-toggle {
  cursor: pointer;
  line-height: 0;
  float: left;
}
.navScroll {
  padding: 5px 0 !important;
  min-height: 40px;
  background-color: rgba(0,0,0,0.95);
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .navbar-roca {
    width: 100%;
    background-color: #000;
    position: relative;
    margin: 0px;
    padding: 20px 0 !important;
  }
  .navbar-roca #menuleft {
    background: transparent !important;
    border: 0px;
  }
  .navbar-roca #navRoca {
    left: -100%;
    width: 200px;
    top: 90px;
    background-color: rgba(0,0,0,0.99);
    min-width: 0;
    position: absolute;
    margin-top: 20px;
    padding-left: 0;
    z-index: 2;
    margin: 0;
    height: 100vh;
  }
  .navbar-roca #navRoca .navbar-right,
  .navbar-roca #navRoca .navbar-left {
    float: none !important;
  }
  .navbar-roca #navRoca .navbar-right li,
  .navbar-roca #navRoca .navbar-left li {
    padding-right: 0px;
    padding-left: 20px;
  }
  .brand-centered {
    margin-left: 50px;
    padding-bottom: 20%;
    width: 80%;
  }
  .brand-centered .navbar-brand img {
    width: 70%;
    height: auto;
  }
  .navbar-toggle {
    margin-right: 10px !important;
    display: block !important;
  }
}
@media screen and (min-width: 1400px) {
  .navbar-right {
    padding-right: 55px !important;
  }
  .navbar-right li {
    padding-right: 55px !important;
  }
  .navbar-left {
    padding-left: 55px !important;
  }
  .navbar-left li {
    padding-left: 55px !important;
  }
}
footer {
  width: 100%;
  background-color: #0b0b0b !important;
}
footer div.redes {
  background-color: #131212 !important;
  vertical-align: middle;
  color: #fff;
  padding: 10px 0 6px 0;
  min-height: 50px;
  border-bottom: 1px solid #222;
}
footer div.redes div {
  background-color: #131212 !important;
}
footer div.redes .beber {
  padding-top: 5px;
}
footer div.redes a {
  color: #fff;
}
footer div.redes a:hover {
  color: #b76751;
}
footer div.datos-footer {
  background-color: #0b0b0b !important;
  height: 200px;
}
footer div.datos-footer img {
  width: 140px;
  height: auto;
}
footer div.datos-footer .footer-titulo {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #666;
  font-size: 16px;
}
footer div.datos-footer .texto {
  color: #ccc;
  font-size: 14px;
}
footer div.datos-footer a {
  color: #ccc;
  text-decoration: none;
}
footer div.datos-footer a:hover {
  color: #b76751;
}
footer div.datos-footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
footer div.datos-footer ul li {
  color: #ccc;
  font-size: 14px;
  margin: 5px 0;
  padding-left: 10px;
}
footer div.fondo {
  background-color: #050505;
  padding: 10px 0px;
  color: #666;
}
footer div.fondo .design {
  font-size: 12px;
}
footer div.fondo a.dbg {
  color: #cf4276;
  font-size: 12px;
  text-decoration: none;
}
footer div.fondo a.dbg:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  div.datos-footer img {
    width: auto;
    height: 150px;
  }
}
.section_heading h1 {
  font-family: "Minion";
  padding-top: 0px !important;
  margin-top: 0px !important;
  font-size: 45px;
  color: #666;
  font-weight: 500 !important;
}
.section_heading div.lineBlue {
  width: 150px;
  background-color: #0b385e;
  height: 5px;
  border-radius: 10px;
}
.parrafoFamilia {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
  line-height: 32px;
}
#familia-home {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
#familia-home img.fotofamilia {
  width: 100%;
  height: auto;
  outline: 1px solid #fff;
  outline-offset: -14px;
}
#vinosHome {
  width: 100%;
  background-color: #222;
  position: relative;
  box-sizing: border-box;
  height: 90vh;
}
#mapaConteiner {
  width: 100%;
  margin: 0 auto;
  background-color: #222;
  position: relative;
}
#mapaConteiner .titulo {
  position: absolute;
  width: 300px;
  top: 120px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  background-color: #b76751;
  border: 2px solid #d6d6d6;
  z-index: 999;
}
#mapaConteiner .titulo h2 {
  font-size: 30px;
  font-family: "Minion";
  margin: 20px;
  color: #fff;
}
#map {
  position: relative;
  box-sizing: border-box;
  height: 95vh;
  width: 100%;
  overflow: hidden;
}
#nobebas {
  width: 100%;
}
#nobebas img {
  width: 100%;
  height: auto;
}
#turismoContainer {
  background-image: url("../images/turismo_oscuro.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 650px;
  padding-top: 180px;
}
#turismoContainer h3 {
  color: #b76751;
  font-size: 20px;
  margin: 0;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}
#turismoContainer h2 {
  color: #fff;
  font-family: "Minion";
  font-size: 40px;
  text-shadow: 0px 3px 7px rgba(0,0,0,0.7);
}
#turismoContainer button {
  background-color: #b76751;
  color: #fff;
  margin-top: 75px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  border: 0px;
  box-shadow: -2px 2px 7px #222;
}
#turismoContainer button:hover {
  background-color: #fff;
  color: #b76751;
}
@media screen and (max-width: 768px) {
  #vinosHome {
    height: auto !important;
  }
  .fotomobiles {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: #000;
  }
  .fotomobiles img {
    width: 100%;
    height: 100%;
  }
  .fotomobiles .h1mobile {
    display: block;
    color: #fff;
  }
  .fotomobiles .h1mobile h2 {
    font-size: 26px !important;
    font-family: "Minion" !important;
  }
  .fotomobiles .h1mobile p {
    font-size: 16px !important;
    font-family: "Minion";
    font-weight: 100;
  }
  #rev_slider_2_1_wrapper {
    display: none !important;
  }
  #familia-home {
    padding: 20px 0 !important;
  }
}
@media screen and (min-width: 1360px) {
  #vinosHome {
    max-height: 800px;
  }
  .parrafoFamilia {
    margin-top: 30px;
    font-size: 16px;
    color: #666;
    line-height: 38px;
  }
  .section_heading h1 {
    font-size: 52px;
    color: #666;
    font-weight: 500 !important;
  }
  .section_heading div.lineBlue {
    width: 250px;
    background-color: #0b385e;
    height: 6px;
    border-radius: 10px;
  }
  #H-sld2-1 {
    height: 900px !important;
    width: auto !important;
  }
  #H-sld2-2 {
    height: 1100px !important;
    width: auto !important;
  }
  .tp-caption .cienCosechas {
    top: 70vh !important;
  }
  .tp-caption .cienCosechas_text {
    top: 80vh !important;
  }
  .tp-caption .botonCien {
    top: 87vh !important;
  }
}
#cont-internas img {
  width: 100%;
  height: auto;
}
#cont-internas h1.tituloPagina {
  position: absolute;
  z-index: 999;
  font-weight: 300;
  letter-spacing: 0px;
  padding-bottom: 2px !important;
  font-family: "Minion";
  font-size: 55px;
  color: #fff;
  text-shadow: 2px 0px 1px rgba(148,85,52,0.7);
}
#cont-internas .textosup {
  position: absolute;
  z-index: 999;
  width: 35%;
  font-family: "Minion";
  font-size: 20px;
  letter-spacing: 0px;
  color: #fff;
}
.internasFotos {
img
  width: 100%;
  height: auto;
}
.internasFotos div {
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  #cont-internas {
    background-color: #000;
    padding: 5px;
  }
  #cont-internas h1.tituloPagina {
    position: relative;
    text-shadow: none;
    font-size: 35px !important;
    top: 0 !important;
    left: 0 !important;
    color: #b76751;
  }
  #cont-internas .textosup {
    position: relative !important;
    width: 100% !important;
    font-size: 16px !important;
    top: 0 !important;
    left: 0 !important;
  }
}
@media screen and (min-width: 1300px) {
  #cont-internas h1.tituloPagina {
    font-weight: 300;
    font-size: 62px !important;
    text-shadow: 3px 0px 1px rgba(148,85,52,0.7);
  }
  #cont-internas .textosup {
    font-size: 25px !important;
  }
}
#cont-internas h1.bodega {
  top: 240px;
  left: 750px;
}
#cont-internas .textobod {
  top: 330px;
  z-index: 999;
  width: 35%;
  left: 750px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.9);
}
#bodegaTexto {
  padding: 60px 40px;
  background-image: url("../images/internas/bg_botellas.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Minion";
  font-size: 24px;
  color: #fff;
  text-align: center;
  position: relative;
}
#bodegaTexto div.uvas {
  width: 250px;
  position: absolute;
  top: 10px;
  left: 30px;
}
#bodegaTexto div.uvas img {
  width: 100%;
  height: auto;
}
#bodegaTexto span.quote {
  font-size: 30px;
  color: #b76751;
  font-family: lucida;
}
#bodegaTexto div.firma {
  color: #b76751;
  width: 100%;
  padding-top: 20px;
  padding-right: 100px;
  font-size: 30px;
  text-align: right;
}
#historia {
  margin: 60px 0px;
}
#historia h2 {
  font-family: "Minion";
  font-size: 45px;
  color: #222;
  padding-bottom: 20px;
  font-weight: 500;
}
#historia .historia {
  width: 100% !important;
  height: auto !important;
}
#historia .textoBodega {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 35px;
  color: #666;
  font-style: italic;
}
#historia .borderImg {
  border: 3px #f2f0ea solid;
  padding: 6px;
  display: inline-block;
}
#calidad {
  padding-bottom: 70px;
  padding-top: 30px;
  margin-bottom: 50px;
  background-color: #eee;
}
#calidad h2 {
  font-family: "Minion";
  font-size: 45px;
  color: #222;
  padding-bottom: 20px;
  font-weight: 500;
}
#calidad img {
  width: 100%;
  height: auto;
}
#calidad p a {
  font-size: 16px;
}
#bodegaFotos #lightgallery img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1300px) {
  #cont-internas h1.bodega {
    top: 330px !important;
    left: 60% !important;
  }
  #cont-internas .textobod {
    top: 440px !important;
    z-index: 999;
    width: 35%;
    left: 60% !important;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.9);
  }
}
#cont-internas h1.familia {
  top: 230px;
  left: 120px;
}
#cont-internas .textofam {
  top: 320px;
  z-index: 999;
  width: 35%;
  left: 120px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.9);
}
#periles {
  margin: 40px 0px;
}
#periles h2 {
  font-family: "Minion";
  font-size: 45px;
  color: #222;
  font-weight: 500;
  margin-bottom: 40px;
}
#periles .textoFamilia {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 22px;
  font-weight: 300;
  color: #222;
  font-style: italic;
}
#periles img.fam {
  width: 100%;
  height: auto;
}
#periles .borderImg {
  border: 3px #f2f0ea solid;
  padding: 6px;
  display: inline-block;
}
#periles .perfil {
  margin: 20px 0;
  padding: 30px 0;
  background-color: #eee;
}
#periles .perfil h3 {
  color: #b76751;
}
#periles .perfil >div {
  padding: 5px 0 15px 0;
}
#periles .perfil .line {
  padding-top: 15px;
  border-bottom: 1px solid #e2e1e1;
}
#periles .perfil .line :last-child {
  border-bottom: 0px;
}
#periles .perfil .borderImg {
  border-color: #e2e1e1;
}
#periles .textoPerfil {
  font-size: 16px;
  color: #222;
  vertical-align: top;
}
@media screen and (min-width: 1300px) {
  #cont-internas h1.familia {
    top: 330px;
    left: 120px;
  }
  #cont-internas .textofam {
    top: 440px;
    z-index: 999;
    width: 35%;
    left: 120px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.9);
  }
}
#cont-internas h1.vinedos {
  top: 230px;
  left: 150px;
}
#cont-internas .textovinedo {
  top: 320px;
  z-index: 999;
  width: 35%;
  left: 150px;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}
#vinedos {
  padding: 60px 0px 40px 0px;
  background-color: #eee;
}
#vinedos h2 {
  font-family: "Minion";
  font-size: 45px;
  color: #222;
  padding-bottom: 20px;
  font-weight: 500;
}
#vinedos .vinedo {
  width: 100% !important;
  height: auto !important;
}
#vinedos .textoVinedos {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 35px;
  color: #666;
  font-style: italic;
}
#vinedos .borderImg {
  border: 3px #f2f0ea solid;
  padding: -6px;
  display: inline-block;
}
#fincas {
  margin-bottom: 40px;
}
#fincas img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 1px #eee solid;
}
#fincas .textos {
  padding-top: 60px;
}
#fincas .textos h2 {
  font-size: 45px;
  text-align: center;
}
#fincas .textos p {
  padding: 30px 50px 20px 50px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
}
.modalvinedos {
  line-height: 25px;
  font-size: 16px;
}
#terroir {
  margin: 0px 0px;
  height: 580px;
  background-image: url("../images/internas/terroir_2.jpg");
  background-attachment: fixed;
  background-size: cover;
}
#terroir h2 {
  font-family: "Minion";
  font-size: 55px;
  color: #fff;
  margin-top: 140px;
  padding-bottom: 20px;
  font-weight: 900;
}
#terroir .terroir {
  width: 100% !important;
  height: auto !important;
}
#terroir .texto-terroir {
  margin-top: 35px;
  margin-bottom: 50px;
  font-size: 24px;
  text-shadow: 4px 4px 12px rgba(2,2,2,0.7);
  line-height: 35px;
  color: #fff;
  font-style: italic;
}
#terroir .borderImg {
  border: 3px #f2f0ea solid;
  padding: 6px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .textos {
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 1300px) {
  #cont-internas h1.vinedos {
    top: 330px;
    left: 150px;
  }
  #cont-internas .textovinedo {
    top: 440px;
    z-index: 999;
    width: 35%;
    left: 150px;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.9);
  }
}
#cont-internas h1.vinos {
  top: 310px;
  left: 100px;
}
#cont-internas .textovino {
  top: 400px;
  z-index: 999;
  width: 35%;
  left: 100px;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}
#nuestrosvinos {
  margin: 60px 0px;
}
#nuestrosvinos h2 {
  font-family: "Minion";
  font-size: 45px;
  color: #222;
padding
  padding-bottom: 20px;
  font-weight: 500;
}
#nuestrosvinos .texto {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 100;
  line-height: 35px;
  color: #222;
  font-style: italic;
}
#vinosList {
  padding-bottom: 40px;
  width: 100%;
  box-sizing: border-box;
}
#vinosList div.cont_vinos {
  display: table;
  width: 100%;
}
#vinosList div.cont_vinos h2 {
  font-family: "Minion";
  font-size: 40px;
  padding-top: 5px !important;
  margin-top: 10px !important;
}
#vinosList div.cont_vinos p {
  font-size: 14px;
  font-weight: 100;
}
#vinosList div.cont_vinos .cover_vino_full {
  box-sizing: border-box;
  width: 100%;
  height: 60vh;
  overflow: hidden !important;
}
#vinosList div.cont_vinos .cover_vino_full:hover .info_vino {
  opacity: 1;
  display: block !important;
  height: 60vh !important;
}
#vinosList div.cont_vinos .cover_vino_full:hover .info_vino:after,
#vinosList div.cont_vinos .cover_vino_full:hover .info_vino:before {
  height: 0px;
}
#vinosList div.cont_vinos .cover_vino {
  width: 50%;
  height: 50vh;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-position: center center;
}
#vinosList div.cont_vinos .cover_vino:hover .info_vino {
  opacity: 1;
}
#vinosList div.cont_vinos .cover_vino .tableVino {
  display: table;
  vertical-align: middle;
  width: 100% !important;
  height: 100% !important;
}
#vinosList div.cont_vinos .cover_vino .cover_background {
  background-size: cover !important;
}
#vinosList .info_vino {
  width: 100%;
  height: 100% !important;
  background: rgba(0,0,0,0.6);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border-collapse: collapse;
  z-index: 3;
  position: relative;
  padding: 70px;
  color: #fff;
  opacity: 0;
}
#vinosList .info_vino img.logo {
  width: 50px;
  opacity: 0.8;
  height: auto;
  padding: 5px 0;
}
#vinosList .info_vino:before {
  content: '';
  display: block;
  height: 30px;
  width: 1px;
  background: #b76751;
  position: absolute;
  top: 0;
  left: 50%;
}
#vinosList .info_vino:after {
  content: '';
  display: block;
  height: 30px;
  width: 1px;
  background: #b76751;
  position: absolute;
  bottom: 0;
  left: 50%;
}
#vinosList .info_vino a.cuadro {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  padding: 30px;
}
#vinosList .info_vino a.cuadro .border {
  height: 100%;
  display: block;
  border: solid 1px #b76751;
  width: 100%;
}
#losvinos {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 20px 0;
}
#losvinos .imgVino img {
  width: 100%;
  height: auto;
}
.detalleVinos {
  margin-bottom: 5px !important;
}
.fichapdf {
  margin-top: 35px;
  text-align: center;
}
.itemvino {
  flex: 1;
  margin: 20px 0;
  border: 1px solid #ccc;
}
@media screen and (max-width: 768px) {
  .itemvino {
    padding-bottom: 20px;
  }
  .cover_vino {
    width: 100% !important;
  }
  .cover_vino:hover .info_vino {
    opacity: 0 !important;
  }
  .cover_vino_full:hover .info_vino {
    opacity: 0 !important;
  }
}
@media screen and (min-width: 1400px) {
  #vinosList div.cont_vinos {
    margin-left: 12%;
    display: table;
    width: 76%;
  }
  .cover_vino_full img {
    width: 100% !important;
  }
}
@media screen and (min-width: 1300px) {
  #cont-internas h1.vinos {
    top: 310px !important;
    left: 150px !important;
  }
  #cont-internas .textovino {
    top: 420px !important;
    z-index: 999;
    width: 35%;
    left: 150px !important;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.9);
  }
}
#cont-internas h1.turismo {
  top: 310px;
  left: 700px;
}
#cont-internas .textobtur {
  top: 400px;
  z-index: 999;
  width: 35%;
  left: 700px;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}
#Distinciones {
  background-color: #fff;
  padding: 45px 0px;
}
#Distinciones h2 {
  font-family: "Minion";
  font-size: 45px;
  color: #222;
  padding-bottom: 20px;
  font-weight: 500;
}
#Distinciones .calidadTrip {
  font-size: 18px;
  color: #222;
  font-weight: 400;
  line-height: 35px;
  font-style: italic;
}
#Distinciones .directrices img {
  width: 300px;
  height: auto;
}
#TurismoTexto {
  padding: 120px 40px;
  background-image: url("../images/tonel.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Minion";
  font-size: 28px;
  color: #fff;
  text-shadow: 0px 3px 8px rgba(0,0,0,0.9);
  text-align: center;
  position: relative;
}
#TurismoTexto div.uvas {
  width: 250px;
  position: absolute;
  top: 10px;
  left: 30px;
}
#TurismoTexto div.uvas img {
  width: 100%;
  height: auto;
}
#TurismoTexto span.quote {
  font-size: 30px;
  color: #b76751;
  font-family: lucida;
}
#TurismoTexto div.firma {
  color: #b76751;
  width: 100%;
  padding-top: 20px;
  padding-right: 100px;
  font-size: 30px;
  text-align: right;
}
hr.linetour {
  padding: 0px !important;
  margin: 2px 0 !important;
  border-top: 1px solid #dfdfdf !important;
}
ul.visitante {
  padding-left: 10px !important;
}
ul.visitante li {
  list-style: none;
  padding: 5px;
  margin: 0;
  display: inline-block;
}
ul.visitante li:before {
  font-family: FontAwesome;
  color: #b76751 !important;
  content: "\f054";
  display: inline-block;
  padding-right: 5px;
  vertical-align: middle;
}
.infotour {
  padding: 60px 0px 40px 0px;
  background-color: #eee;
}
.infotour h2 {
  font-family: "Minion";
  font-size: 45px;
  color: #222;
  padding-bottom: 20px;
  font-weight: 500;
}
.infotour h3 {
  color: #b76751;
}
.infotour .TourText p {
  font-size: 16px;
  line-height: 35px;
}
.infotour .vinedo {
  width: 100% !important;
  height: auto !important;
}
.infotour .textoVinedos {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 35px;
  color: #666;
  font-style: italic;
}
.infotour .borderImg {
  border: 3px #f2f0ea solid;
  padding: -6px;
  display: inline-block;
}
@media screen and (min-width: 1300px) {
  #cont-internas h1.turismo {
    top: 310px;
    left: 60% !important;
  }
  #cont-internas .textobtur {
    top: 420px;
    z-index: 999;
    width: 35%;
    left: 60% !important;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.9);
  }
}
#cont-internas h1.bodega {
  top: 240px;
  left: 750px;
}
#cont-internas .textobod {
  top: 330px;
  z-index: 999;
  width: 35%;
  left: 750px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.9);
  color: #fff;
}
#cont-internas .borderImg {
  border: 3px #f2f0ea solid;
  padding: 6px;
  display: inline-block;
}
#contacto {
  padding-bottom: 40px;
  padding-top: 40px;
  margin-bottom: 50px;
}
#contacto hr {
  border-color: #b76751;
}
#contacto h2 {
  font-family: "Minion";
  font-size: 45px;
  color: #222;
  padding-bottom: 20px;
  font-weight: 500;
}
#contacto h3 {
  font-family: "Minion";
  font-size: 25px;
  color: #222;
  padding-bottom: 20px;
  font-weight: 500;
}
#contacto p {
  margin-top: 35px;
}
#contacto .formC {
  border-left: 1px #ccc solid;
}
#contacto #enviar {
  margin-top: 20px !important;
}
#contacto .datos {
  font-size: 14px;
}
#contacto .datos .titulo {
  font-size: 18px;
}
#contacto img {
  width: 100%;
  height: auto;
}
#contacto p a {
  font-size: 16px;
}
#ubiContacto {
  margin-bottom: 40px;
  padding: 30px 0 60px 0;
  background-color: #eee;
}
#ubiContacto h2 {
  font-family: "Minion";
  font-size: 45px;
  color: #222;
  padding-bottom: 20px;
  font-weight: 500;
}
#ubiContacto #map {
  height: 400px;
  width: 100%;
}
#rocaMundo {
  margin-bottom: 40px;
}
#rocaMundo h2 {
  font-family: "Minion";
  font-size: 45px;
  color: #222;
  padding-bottom: 20px;
  font-weight: 500;
}
#rocaMundo #mapM {
  height: 600px;
  width: 100%;
}
