/*
Theme Name: Educampus - Education & University WordPress Theme
Educampus
*/

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {

	color: purple;

}

a:hover,

a:focus,

a:active {

	color: midnightblue;

}

body.wpb-js-composer{
	overflow-x:hidden;
}

a:focus {

	outline: thin dotted;

}


a:hover,

a:active {

	outline: 0;

}

.sing_right_widg_content ul{



padding-left:0;



}







/*--------------------------------------------------------------



>>> WORDPRESS TABLE OF CONTENTS:



----------------------------------------------------------------



# Forms



# Elements



# Menus



# Accessibility



# Alignments



# Clearings



# Widgets



# Content



    ## Posts and pages



	## Asides



	## Comments



# Infinite scroll



# Media



	## Captions



	## Galleries



--------------------------------------------------------------*/











/*--------------------------------------------------------------



>>> THEME TABLE OF CONTENTS:



----------------------------------------------------------------



1. Base CSS



2. Post Like System



3. Preloader CSS



4. Breadcrumb CSS



5. Header CSS



6. Key To Success CSS



7. Our Courses CSS



8. Search Couses CSS



9. Why Choose Us CSS



10. Latest Courses CSS



11. Our Faculties CSS



12. Our Students Say CSS



13. Our Partners CSS



14. Footer CSS



15. Second Home Page CSS



16. Our Degrees CSS



17. Upcoming Events CSS



18. Latest From Our Blog CSS



19. Second Homepage Testimonial CSS



20. Our Principles and Practices CSS



21. Call to Action CSS



22. Courses Page CSS



23. 404 Not Found Page CSS



24. Contact Page CSS



25. Latest News Page CSS



26. Single Post Page CSS



27. Right Sidebar CSS



28. Single Event Page CSS



29. Stay Connect CSS



30. About Alumni CSS



31. Only For IE CSS



____________________________________________________________



This Template Is Fully Coded By Linkon Miyan from rexord.com



------------------------------------------------------------



-----------------------------------------------------------*/



/*--------------------------------------------------------------



# Forms



--------------------------------------------------------------*/



button,



input[type="button"],



input[type="reset"],



input[type="submit"] {



	border: 1px solid;



	border-color: #ccc #ccc #bbb;



	border-radius: 3px;



	background: #e6e6e6;



	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);



	color: rgba(0, 0, 0, .8);



	font-size: 1.2em;



	line-height: 1;



	padding: .52em 1em;



	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);



}







button:hover,



input[type="button"]:hover,



input[type="reset"]:hover,



input[type="submit"]:hover {



	border-color: #ccc #bbb #aaa;



	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);



}







button:focus,



input[type="button"]:focus,



input[type="reset"]:focus,



input[type="submit"]:focus,



button:active,



input[type="button"]:active,



input[type="reset"]:active,



input[type="submit"]:active {



	border-color: #aaa #bbb #bbb;



	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);



}







input[type="text"],



input[type="email"],



input[type="url"],



input[type="password"],



input[type="search"],



textarea {



	color: #666;



	border: 1px solid #ccc;



	border-radius: 3px;



}







input[type="text"]:focus,



input[type="email"]:focus,



input[type="url"]:focus,



input[type="password"]:focus,



input[type="search"]:focus,



textarea:focus {



	color: #111;



}







input[type="text"],



input[type="email"],



input[type="url"],



input[type="password"],



input[type="search"] {



	padding: 3px;



}







textarea {



	padding-left: 3px;



	width: 100%;



}



/*--------------------------------------------------------------



# Elements



--------------------------------------------------------------*/



html {



	box-sizing: border-box;



}







*,



*:before,



*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */



	box-sizing: inherit;



}







body {



	background: #fff; /* Fallback for when there is no custom background color defined. */



}







blockquote:before,



blockquote:after,



q:before,



q:after {



	content: "";



}







blockquote,



q {



	quotes: "" "";



}







hr {



	background-color: #ccc;



	border: 0;



	height: 1px;



	margin-bottom: 1.5em;



}















ul {



	list-style: disc;



}







ol {



	list-style: decimal;



}







li > ul,



li > ol {



	margin-bottom: 0;



	margin-left: 1.5em;



	padding-left: 0;



}







dt {



	font-weight: bold;



}







dd {



	margin: 0 1.5em 1.5em;



}







img {



	height: auto; /* Make sure images are scaled correctly. */



	max-width: 100%; /* Adhere to container width. */



}







table {



	margin: 0 0 1.5em;



	width: 100%;



}



/*--------------------------------------------------------------



# Menus



--------------------------------------------------------------*/



.main-navigation {



	clear: both;



	display: block;



	float: left;



	width: 100%;



}







.main-navigation ul {



	display: none;



	list-style: none;



	margin: 0;



	padding-left: 0;



}







.main-navigation li {



	float: left;



	position: relative;



}







.main-navigation a {



	display: block;



	text-decoration: none;



}







.main-navigation ul ul {



	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);



	float: left;



	position: absolute;



	top: 1.5em;



	left: -999em;



	z-index: 99999;



}







.main-navigation ul ul ul {



	left: -999em;



	top: 0;



}







.main-navigation ul ul a {



	width: 200px;



}







.main-navigation ul ul li {







}







.main-navigation li:hover > a,



.main-navigation li.focus > a {



}







.main-navigation ul ul :hover > a,



.main-navigation ul ul .focus > a {



}







.main-navigation ul ul a:hover,



.main-navigation ul ul a.focus {



}







.main-navigation ul li:hover > ul,



.main-navigation ul li.focus > ul {



	left: auto;



}







.main-navigation ul ul li:hover > ul,



.main-navigation ul ul li.focus > ul {



	left: 100%;



}







.main-navigation .current_page_item > a,



.main-navigation .current-menu-item > a,



.main-navigation .current_page_ancestor > a {



}







/* Small menu. */



.menu-toggle,



.main-navigation.toggled ul {



	display: block;



}







@media screen and (min-width: 37.5em) {



	.menu-toggle {



		display: none;



	}



	.main-navigation ul {



		display: block;



	}



}







.site-main .comment-navigation,



.site-main .posts-navigation,



.site-main .post-navigation {



	margin: 0 0 1.5em;



	overflow: hidden;



}







.comment-navigation .nav-previous,



.posts-navigation .nav-previous,



.post-navigation .nav-previous {



	float: left;



	width: 50%;



}







.comment-navigation .nav-next,



.posts-navigation .nav-next,



.post-navigation .nav-next {



	float: right;



	text-align: right;



	width: 50%;



}







/*--------------------------------------------------------------



# Accessibility



--------------------------------------------------------------*/



/* Text meant only for screen readers. */



.screen-reader-text {



	clip: rect(1px, 1px, 1px, 1px);



	position: absolute !important;



	height: 1px;



	width: 1px;



	overflow: hidden;



}







.screen-reader-text:focus {



	background-color: #f1f1f1;



	border-radius: 3px;



	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);



	clip: auto !important;



	color: #21759b;



	display: block;



	font-size: 14px;



	font-size: 0.875rem;



	font-weight: bold;



	height: auto;



	left: 5px;



	line-height: normal;



	padding: 15px 23px 14px;



	text-decoration: none;



	top: 5px;



	width: auto;



	z-index: 100000; /* Above WP toolbar. */



}







/*--------------------------------------------------------------



# Alignments



--------------------------------------------------------------*/



.alignleft {



	display: inline;



	float: left;



	margin-right: 1.5em;



}







.alignright {



	display: inline;



	float: right;



	margin-left: 1.5em;



}







.aligncenter {



	clear: both;



	display: block;



	margin-left: auto;



	margin-right: auto;



}







/*--------------------------------------------------------------



# Clearings



--------------------------------------------------------------*/



.clear:before,



.clear:after,



.entry-content:before,



.entry-content:after,



.comment-content:before,



.comment-content:after,



.site-header:before,



.site-header:after,



.site-content:before,



.site-content:after,



.site-footer:before,



.site-footer:after {



	content: "";



	display: table;



}







.clear:after,



.entry-content:after,



.comment-content:after,



.site-header:after,



.site-content:after,



.site-footer:after {



	clear: both;



}







/*--------------------------------------------------------------



# Widgets



--------------------------------------------------------------*/



.widget {



	margin: 0 0 1.5em;



}







/* Make sure select elements fit in widgets. */



.widget select {



	max-width: 100%;



}







/* Search widget. */



.widget_search .search-submit {



	display: none;



}



.textwidget form select{



	width:280px;



}



/*--------------------------------------------------------------



# Content



--------------------------------------------------------------*/



/*--------------------------------------------------------------



## Posts and pages



--------------------------------------------------------------*/



.sticky {



	display: block;



}







.hentry {



	margin: 0 0 1.5em;



}







.byline,



.updated:not(.published) {



	display: none;



}







.single .byline,



.group-blog .byline {



	display: inline;



}







.page-content,



.entry-content,



.entry-summary {



	margin: 1.5em 0 0;



}





section#fullscreen .entry-content{



	margin: 0 !important;



}



.page-links {



	clear: both;



	margin: 0 0 1.5em;



}







/*--------------------------------------------------------------



## Asides



--------------------------------------------------------------*/



.blog .format-aside .entry-title,



.archive .format-aside .entry-title {



	display: none;



}



.hentry {



    margin: 0;



}



/*--------------------------------------------------------------



## Comments



--------------------------------------------------------------*/



.comment-content a {



	word-wrap: break-word;



}







.bypostauthor {



	display: block;



}







/*--------------------------------------------------------------



# Infinite scroll



--------------------------------------------------------------*/



/* Globally hidden elements when Infinite Scroll is supported and in use. */



.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */



.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */



	display: none;



}







/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */



.infinity-end.neverending .site-footer {



	display: block;



}







/*--------------------------------------------------------------



# Media



--------------------------------------------------------------*/



.page-content .wp-smiley,



.entry-content .wp-smiley,



.comment-content .wp-smiley {



	border: none;



	margin-bottom: 0;



	margin-top: 0;



	padding: 0;



}







/* Make sure embeds and iframes fit their containers. */



embed,



iframe,



object {



	max-width: 100%;



}







/*--------------------------------------------------------------



## Captions



--------------------------------------------------------------*/



.wp-caption {



	margin-bottom: 1.5em;



	max-width: 100%;



}







.wp-caption img[class*="wp-image-"] {



	display: block;



	margin: 0 auto;



}







.wp-caption-text {



	text-align: center;



}







.wp-caption .wp-caption-text {



	margin: 0.8075em 0;



}







/*--------------------------------------------------------------



## Galleries



--------------------------------------------------------------*/



.gallery {



	margin-bottom: 1.5em;



}







.gallery-item {



	display: inline-block;



	text-align: center;



	vertical-align: top;



	width: 100%;



}







.gallery-columns-2 .gallery-item {



	max-width: 50%;



}







.gallery-columns-3 .gallery-item {



	max-width: 33.33%;



}







.gallery-columns-4 .gallery-item {



	max-width: 25%;



}







.gallery-columns-5 .gallery-item {



	max-width: 20%;



}







.gallery-columns-6 .gallery-item {



	max-width: 16.66%;



}







.gallery-columns-7 .gallery-item {



	max-width: 14.28%;



}







.gallery-columns-8 .gallery-item {



	max-width: 12.5%;



}







.gallery-columns-9 .gallery-item {



	max-width: 11.11%;



}







.gallery-caption {



	display: block;



}







































/* ---------------------------------------------------------



Base CSS



------------------------------------------------------------*/



.floatleft {



    float: left;



}



.floatright {



    float: right;



}



.alignleft {



    float: left;



    margin-right: 15px;



}



.alignright {



    float: right;



    margin-left: 15px;



}



.aligncenter {



    display: block;



    margin: 0 auto 15px;



}



a:focus {



    outline: 0px solid;



}



img {



    max-width: 100%;



    height: auto;



}



.fix {



    overflow: hidden;



}



h1, h2, h3, h4, h5, h6 {



    margin: 0 0 15px;



    font-family: 'LatoMedium', sans-serif;



}



p{



    color: #777777;



    font-size: 15px;



}



html, body {



    height: 100%;



    font-family: 'LatoMedium', sans-serif;



}



body {  }



.fix_p{



    padding:0;



}



.fix_p_l{



    padding-left:0;



}



.fix_p_r{



    padding-right:0;



}



.fix_m{



    margin:0;



}



.fix_m_l{



    margin-left: -15px;



}



.fix_m_r{



    margin-right: -15px;



}



a {



    color:#333333;



}



a:hover {



    text-decoration: none;



}



a, .header_search input{



    -webkit-transition: .5s;



    -moz-transition: .5s;



    -ms-transition: .5s;



    -o-transition: .5s;



    transition: .5s;



}







#scrollUp {



    bottom: 20px;



    right: 20px;



    color: #fff;



    font-size: 30px;



    text-align: center;



    line-height: 52px;



    width: 52px;



    background: #00BD4A;



    border-radius: 10px;



}



.section-padding {



    padding: 90px 0;



}



.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {



    background-color: transparent;



}



.nav > li > a:focus, .nav > li > a:hover {



  background-color: transparent;



  text-decoration: none;



}



ul.nav.navbar-nav li > a:hover, ul.nav.navbar-nav li.current_page_item a{



    color: #fff;



}



ul.nav.navbar-nav li.current_page_item a, ul.nav.navbar-nav li:hover > a {



    background-color: #29166F; 



}

.dropdown-menu li a{
background-color: #fff !important;
color:#222 !important;
}

.dropdown-menu li a:hover{
background-color: #29166F !important;
color:#fff !important;
}









nav ul li.menu-item-has-children:visited > a{



    color: #fff;



}







nav ul li.menu-item-has-children:hover > a{



    color: #fff;



}











a.rm_btn{



    border: 1px solid;



    border-radius: 5px;



    line-height: 42px;



    padding: 0 28px;



    display: inline-block;



    text-transform: uppercase;



    font-family: 'LatoHeavy', sans-serif;



    height: 42px;



}



.key_to_success_area, .key_to_success_area .container, .key_to_success_area .container .row, .key_to_success_area .container .row .key_to_success {



    height: 100%;



}



.key_to_success_area .container .row .key_to_success .col-md-7,.key_to_success_area .container .row .key_to_success .col-md-5{



    height: 100%;



}



.section_heading{



    text-align: center;



}



.section_heading h1{



    font-family: 'Libre Baskerville', serif;



    font-size: 42px;



    font-weight: 700;



    margin: 0;



}



.section_heading p{



    color: #c0b48b;



    font-size: 21px;



}











/* --------------------------------------------------------



Post Like System



-----------------------------------------------------------*/







#icon-like,#icon-unlike{



display:none



}



.foot ul.postfooter li a{



text-decoration:none !important;



color:#777777 !important;



}



.foot ul.postfooter li:hover a{



color:#777777 !important;



}















@font-face {



  font-family: "like_font";



  src: url("./fonts/like_font.eot");



  src: url("./fonts/like_font.eot?#iefix") format("embedded-opentype"),



       url("./fonts/like_font.woff") format("woff"),



       url("./fonts/like_font.ttf") format("truetype"),



       url("./fonts/like_font.svg#like_font") format("svg");



  font-weight: normal;



  font-style: normal;



}







@media screen and (-webkit-min-device-pixel-ratio:0) {



  @font-face {



    font-family: "like_font";



    src: url("./fonts/like_font.svg#like_font") format("svg");



  }



}







[data-icon]:before { content: attr(data-icon); }







[data-icon]:before,



.icon-gear:before,



.icon-like:before,



.icon-unlike:before {



  display: inline-block;



  font-family: "like_font";



  font-style: normal;



  font-weight: normal;



  font-variant: normal;



  line-height: 1;



  text-decoration: inherit;



  text-rendering: optimizeLegibility;



  text-transform: none;



  -moz-osx-font-smoothing: grayscale;



  -webkit-font-smoothing: antialiased;



  font-smoothing: antialiased;



}







.icon-like:before { content: "\f105"; }



.icon-unlike:before { content: "\f106"; }



.icon-gear:before { 



	content: "\f104";



	-webkit-animation: spin 2s infinite linear;



	-moz-animation: spin 2s infinite linear;



	-o-animation: spin 2s infinite linear;



	animation: spin 2s infinite linear;



}







@-moz-keyframes spin {



  0% { -moz-transform: rotate(0deg); }



  100% { -moz-transform: rotate(359deg); }



}







@-webkit-keyframes spin {



  0% { -webkit-transform: rotate(0deg); }



  100% { -webkit-transform: rotate(359deg); }



}







@-o-keyframes spin {



  0% { -o-transform: rotate(0deg); }



  100% { -o-transform: rotate(359deg); }



}







@keyframes spin {



  0% {



    -webkit-transform: rotate(0deg);



    transform: rotate(0deg);



  }



  100% {



    -webkit-transform: rotate(359deg);



    transform: rotate(359deg);



  }



}







a.jm-post-like {



	font-weight: normal;



	display: inline-block;



	width: auto;



	-moz-transition: all 0.3s ease-out 0.2s;



	-webkit-transition: all 0.3s ease-out 0.2s;



	-o-transition: all 0.3s ease-out 0.2s;



}







a.jm-post-like.liked { color: #3F2653; }







a.jm-post-like:hover,



a.jm-post-like:active,



a.jm-post-like:focus,



a.liked:hover,



a.liked:active,



a.liked:focus {



	color: #000;



}



.blog_post_footer ul.postfooter li a{



  color: #888888 !important;



}































/* --------------------------------------------------------



Preloader CSS



-----------------------------------------------------------*/







#preloader {



    height: 100%;



    position: fixed;



    width: 100%;



    z-index: 9999;



    background: #fff;



    display: none;



}



#preloader i {



    left: 50%;



    margin-left: -15px;



    margin-top: -15px;



    position: absolute;



    top: 50%;



}











/* --------------------------------------------------------



Breadcrumb CSS



-----------------------------------------------------------*/



.breadcrumb_area {



    margin-top: -123px;



    overflow: hidden;



}



.breadcrumb_top{



    background: url(img/bg_breadcrumb.jpg);



    background-size: 100%;



    background-repeat: no-repeat;



    background-attachment: fixed; 



}



.breadcrumb_title {



  margin-top: 220px;



  text-align: center;



  text-transform: capitalize;



}



.breadcrumb_title h2{



  color: #fff;



  font-family: "Libre Baskerville",serif;



  font-size: 42px;



  font-weight: 700;



  text-transform: capitalize;



}



.breadcrumb_bottom{



    background: url(img/bg_breadcrumb_bottom.png);



    background-color: #29166F;



    background-attachment: fixed;



}



.breadcrumb_nav{



    color: #fff;



    overflow: hidden;



}



.breadcrumb_nav h2{



    line-height: 70px;



    margin: 0;



    font-size: 24px;



    font-family: "Libre Baskerville",serif;



    font-weight: 700;



}



.breadcrumb_nav ul{



    text-align: right;



    margin: 0;



}



.breadcrumb_nav ul li {



  display: inline-block;



  font-family: "Libre Baskerville",serif;



  font-size: 18px;



  font-weight: 700;



  line-height: 70px;



  margin: 0 15px;



}



.breadcrumb_nav ul li a{



    color: #fff;



    position: relative;



}



.breadcrumb_nav ul li a::after {



  content: "\f105";



  font-family: 'fontawesome';



  font-size: 20px;



  position: absolute;



  right: -18px;



  top: -23px;



}















/* --------------------------------------------------------



Header CSS



-----------------------------------------------------------*/



.header_area {
    margin-top: 47px;
    height: 75px;
    position: absolute;
    top: 0px;
    width: 100%;
}




.header_content{



    background: #fff;



    border-bottom: 3px solid #e4e4e4;



    font-family: 'Libre Baskerville', serif;



    position: relative;



    z-index: 9;



}



.logo {



  padding-left: 30px;



}



.logo h1{

margin: 0px;
	padding:0px;

    font-size: 40px;

	font-family: 'Libre Baskerville', serif;

    font-weight: 900;



    text-transform: uppercase;



    line-height: 73px;



    color: #333 !important;



}



.logo a span{



    color: #85784b;



}



.logo h1 img{



    margin-right: 10px;
    height: 50px; 
    width: auto;



}



.nav_area{



    padding-right: 88px;



}



ul.nav.navbar-nav li > a{



    position: relative;



    padding: 0 20px;



    line-height: 73px;



    font-size: 16px;



    font-weight: 700;



    color:#333;



}



ul.nav.navbar-nav > li > a:after{



    position: absolute;



    bottom: -3px;



    left: 0;



    width: 100%;



    height: 3px;



    content: "";



    background: #3F2653;



    opacity: 0;



}



ul.nav.navbar-nav li > a:hover:after, ul.nav.navbar-nav li.current_page_item a:after{



    opacity: 1;



}







nav.main_menu ul li.menu-item-has-children:hover ul.dropdown-menu{



    display:block;



}



ul.dropdown-menu:hover nav.main_menu ul li.menu-item-has-children a{color:#fff !important;}



ul.dropdown-menu > li > a{



   line-height:40px !important;



}



.navbar-right .dropdown-menu {



    right: auto;



    left: 0;



}



.header_search{



    position: absolute;



    right: 15px;



    top: 0;



}



.header_search input[type="text"]{



    width: 73px;



    line-height: 73px;



    padding: 0;



    border: 0px;



    background-color: #c0b48b;



    background-image: url(img/icon_search.png);



    background-position: center;



    background-repeat: no-repeat;



    text-indent: -999px;



    height: 73px;



    color: #fff;
    border-radius: 0;



}



.header_search:after{



    background: #b6aa7f;



    position: absolute;



    width: 100%;



    height: 3px;



    bottom: -3px;



    left: 0;



    content: "";



}



.header_search input[type="text"]:focus{



    width: 220px;



    text-indent: 10px;



    background-image: none;



}



.header_search input[type="submit"]{



    display: none;



}











/* --------------------------------------------------------



Key To Success CSS



-----------------------------------------------------------*/



.key_to_success_area{



    background-size: cover;



    background-repeat: no-repeat;



    height: 100%;



    margin-top: 0;



}



.key_to_success{



    overflow: hidden;



}



.k2sht{



   height:450px !important;



}



.key2seccess_txt{



    padding: 0 50px;



    position: absolute;



    top: calc(50% + 61.5px - 116px);



}



.key2seccess_txt h2{



    color: #ffffff;



    font-size: 30px;



    font-weight: 700;



    font-family: 'Libre Baskerville', serif;



    text-transform: uppercase;



    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);



}



.key2seccess_txt p{



    color: #ffffff;



    font-size: 17px;



    line-height: 32px;



}



.key2seccess_txt a{



    color: #fff;



    margin-right: 20px;







}



.key2seccess_txt a:hover,



.key2seccess_txt2 a:hover{



color: #fff;



    background: #29166F;



    box-shadow: 0 2px 0 #3F2653;



    border: 1px solid #29166F;



}







.key2seccess_photo{



    height: 100%;



    position: relative;



}



.key2seccess_photo img{



    max-height: calc(97% - 123px);



    position: absolute;



    bottom: 0;



    right: 75px;



}











/* --------------------------------------------------------



Our Courses CSS



-----------------------------------------------------------*/



.all_our_courses{



    padding-top: 20px;



}



.single_our_course{



    background: #f8f8f8;
	border: 1px solid #ececec;
	margin-top: 30px;
	height: 420px !important;



}

.sing_course_thumb {position:relative;}

.sing_course_thumb > img {


	width:100%;
  position: relative;

	height: 230px;
	overflow-y:hidden;

  z-index: 1;
fondo_institucion_inscri


}



.sing_course_txt{



    margin: 20px 29px 30px;



    position: relative;



    z-index: 0;



}



.sing_course_txt .course_icon {



  position: absolute;



  right: 0;



  bottom: 30px;



  z-index: -1;



}



.sing_course_txt h2{



    font-size: 18px;



    font-family: 'LatoHeavy', sans-serif;



    text-transform: uppercase;



    margin-bottom: 20px;



}



.sing_course_txt p{



    margin-bottom: 20px;
	height: 40px;

	

    line-height: 25px;



}



.sing_course_txt a{



    text-transform: uppercase;



    color: #29166F;



    font-size: 12px;



    font-weight: 700;



}















/* --------------------------------------------------------



Search Couses CSS



-----------------------------------------------------------*/







.search_courses_area .section_heading h1, .search_courses_area .section_heading p{



    color: #fff;



}















.course_search{



    padding-top: 60px;



}



.course_search input[type="text"]{



  background-color: #fff;



  background-position: 10px center;



  background-repeat: no-repeat;



  height: 50px;



  border: 0px;



  border-radius: 5px;



  padding-left: 40px;



  margin: 0 auto;



  display: block;



  width: 30%;



}







.course_search input[type="submit"] {



    background: #29166F;



    color: #fff;



    height: 40px;



    padding: 0 33px;



    margin: 35px auto 0;



    text-transform: uppercase;



    display: block;



    border: 0px;



    border-radius: 5px;



    box-shadow: 0 0 0 0;



    text-shadow: 0 0 0;



}







.course_search input[type="text"]{



    background-image: url("img/icon_select_5.png");



    



}















/* --------------------------------------------------------



Why Choose Us CSS



-----------------------------------------------------------*/



.why_choose_us_txt h1{



    font-size: 32px;



    font-family: 'Libre Baskerville', serif;



    font-weight: 700;



    margin: 20px 0 25px;



}



.why_choose_us_txt p{



    line-height: 29px;



    font-size: 18px;



}



.single_why_choose{



    text-align: center;



    padding-top: 30px;



}



.single_why_choose_icon{



    background: #29166F;



    border-radius: 50%;



    line-height: 75px;



    width: 75px;



    margin: 0 auto;



    overflow:hidden;



}



.single_why_choose h3{



    font-size: 18px;



    margin-top: 15px;



}















/* --------------------------------------------------------



Latest Courses CSS



-----------------------------------------------------------*/



.latest_courses_area{



    background: url(../images/bg_latest_course.jpg);



    background-position: 0 -60px;



    background-attachment: fixed;



}



.all_latest_course{



    padding-top: 50px;



}



.single_latest_courses{



    border: 1px solid #ececec;



    background: #fff;



    border-radius: 7px;



}



.sing_lat_course_photo > img {



      border-top-left-radius: 7px;



      border-top-right-radius: 7px;



}



.sing_lat_course_txt{



    padding: 20px 20px 30px;



}



.sing_lat_course_txt a:hover{



color:#29166F;



}



.sing_lat_course_txt h3{



    font-size: 13px;



    color: #29166F;



    text-transform: uppercase;



}



.sing_lat_course_txt h2{



    font-size: 20px;



    font-family: 'Libre Baskerville', serif;



}



.sing_lat_course_txt p{



    line-height: 26px;



}



.sing_lat_course_txt ul{



    padding-left: 0;



    list-style: none;



}



.sing_lat_course_txt ul li{



    font-weight: 700;



}



.sing_lat_course_txt ul li i{



    color: #29166F;



    width: 25px;



}



.sing_lat_course_txt ul li span{



    color: #666666;



}



.all_latest_course .owl-nav {



    position: absolute;



    right: 0;



    top: 0;



}



.all_latest_course .owl-nav .owl-prev, .all_latest_course .owl-nav .owl-next {



    display: inline-block;



    line-height: 35px;



    text-align: center;



    width: 35px;



    border: 1px solid;



    border-radius: 5px;



    color: #666666;



    font-size: 20px;



}



.all_latest_course .owl-nav .owl-next {



    margin-left: 5px;



}















/* --------------------------------------------------------



Our Faculties CSS



-----------------------------------------------------------*/



.our_faculties_area .section_heading{



    padding-bottom: 40px;



}



.single_our_facult{



    text-align: center;



    margin-top: 50px;



}



.all_our_faculties .col-md-3:nth-child(1) .single_our_facult ,.all_our_faculties .col-md-3:nth-child(2) .single_our_facult ,.all_our_faculties .col-md-3:nth-child(3) .single_our_facult ,.all_our_faculties .col-md-3:nth-child(4) .single_our_facult {



    margin-top: 0;



}



.sing_our_facult_photo{



    position: relative;



    min-height: 400px;



}



.sing_our_facult_photo img{



    position: absolute;



    max-height: 100%;



    bottom: 0;



    left: 0;



}



.sing_our_facult_txt{



    padding: 20px 0;



    background: #f8f8f8;



    border-bottom: 1px solid #29166F;



}



.sing_our_facult_txt h3{



    font-size: 16px;



    font-weight: 700;



    margin-bottom: 5px;



    text-transform: uppercase;



}



.sing_our_facult_txt p{



    color: #29166F;



    font-size: 16px;



    margin: 0;



}















/* --------------------------------------------------------



Our Students Say CSS



-----------------------------------------------------------*/



.testimonial_area{



    background: #f8f8f8;



    position: relative;



}



.testimonial_area .section_heading{



    margin-bottom: 60px;



}



.single_testi_slider{



    text-align: center;



}



.testi_student_photo{



    border-radius: 50%;



    height: 77px;



    width: 77px;



    border: 5px solid #e3dbdb;



    margin: 0 auto;



    position: relative;



    margin-bottom: 50px;



 



}



.testi_student_photo img{



    border-radius: 50%;



}



.testi_student_photo i{



    position: absolute;



    bottom: -12px;



    right: -12px;



    background: #fff;



    line-height: 30px;



    width: 30px;



    border-radius: 50%;



    color: #29166F;



}



.testi_studient_txt p{



    font-size: 19px;



    line-height: 32px;



    margin-bottom: 35px;



}



.testi_studient_txt h3{



    font-size: 16px;



    font-family: 'Libre Baskerville', serif;



}



.testi_studient_txt h3 span{



    color: #29166F;



}



.testi_slider_nav{



    position: absolute;



    top: 50%;



    left: 0;



    width: 100%;



    z-index: 99;



}



.testi_slider_nav .testi_prev, .testi_slider_nav .testi_next{



    background: #7c7c7c;



    line-height: 51px;



    width: 51px;



    text-align: center;



    color: #fff;



    font-size: 26px;



    cursor: pointer;



}



.testi_slider_nav .testi_next{



    float: right;



}















/* --------------------------------------------------------



Our Partners CSS



-----------------------------------------------------------*/



.all_partners{



    padding-top: 50px;



}



.single_partner{



    text-align: center;



}



.single_partner img {



  border: 1px solid #f1f1f1;



}















/* --------------------------------------------------------



Footer CSS



-----------------------------------------------------------*/



.footer_top{



    background: #222222;



    background-image: url(img/bg_footer_top.png);



    background-position: bottom left;



    background-repeat: no-repeat;



    padding: 60px 0;



}



.newslatter input[type="email"], .newslatter input[type="text"]{



    background: url(img/icon_newslatter.png);



    background-position: right center;



    background-repeat: no-repeat;



    border:0px;



    border-bottom: 2px solid #555555;



    width: 100%;



    font-size: 53px;



    color: #555555;



    font-family: 'Libre Baskerville', serif;



    line-height: 65px;



    height: 65px;



}



.newslatter input[type="email"]:focus{



    outline: 0px;



}



.newslatter input[type="submit"]{



    display: none;



}



.newslatter p{



    margin-top: 10px;



}



.footer_widgets{



    padding-top: 40px;



    color: #efefef;



}



.widget_title{



    font-size: 15px;



    font-family: 'Libre Baskerville', serif;



    color: #fff;



    background: url(img/bg_widget_title.png);



    background-position: right bottom;



    background-repeat: no-repeat;



    display: inline-block;



    padding: 0 30px 15px 0;



    text-transform: uppercase;



    margin-bottom: 25px;



}



.single_footer_widget p{



    color: #efefef;



    line-height: 22px;



    font-size: 14px;



    text-align: justify;



}



.single_footer_widget ul{



    padding-left: 0;



    list-style: none;



}



.footer_social{



    padding-top: 15px;



}



.footer_social li{



    display: inline-block;



    margin-right: 5px;



}



.footer_social li a{



    display: block;



    line-height: 35px;



    height: 35px;



    width: 35px;



    text-align: center;



    color: #fff;



    border-radius: 50px;



    border: 1px solid;



}



.footer_social li a:hover{



    background: #29166F;



    border: 1px solid #29166F;



}







.latest_post li:first-child{



    padding-top: 0;



}



.latest_post li:last-child{



    padding-bottom: 0;



    border-bottom: 0px;



}



.latest_post li{



    border-bottom: 1px solid #373737;



    padding: 20px 0;



    overflow: hidden;



}



.latest_post li img{



    float: left;



    margin-right: 18px;



}



.latest_post_txt {



  float: left;



  width: 182px;



}



.latest_post li .latest_post_txt h4{



    margin: 0;



    line-height: 18px;



    font-size: 12px;



    font-weight: 600;



    text-transform: uppercase;



}



.latest_post li .latest_post_txt h4 a{



    color: #efefef;



}



.latest_post li .latest_post_txt h4 a:hover{



    color: #29166F;



}



.latest_post li .latest_post_txt p{



    color: #29166F;



    font-size: 13px;



    font-style: italic;



    margin: 0;



}



.latest_tweet li:last-child{



    margin-bottom: 0;



}



.latest_tweet li{



    line-height: 24px;



    color: #efefef;



    font-weight: 600;



    margin-bottom: 25px;



    padding-left: 30px;



    background: url(img/bg_latest_tweet.png);



    background-position: left 10px;



    background-repeat: no-repeat;



}



.latest_tweet li a{



    color: #00aced;



    display: block;



}



.latest_tweet li span{



    font-size: 10px;



    text-transform: uppercase;



}







.footer_contact li{



    color: #efefef;



    font-size: 13px;



    margin-bottom: 15px;



    text-transform: uppercase;



    background-repeat: no-repeat;



    background-position: left center;



    padding-left: 35px;



    line-height: 25px;



}



.footer_contact li:nth-child(1){



    background-image: url(img/icon_footer_contact_1.png);



}



.footer_contact li:nth-child(2){



    background-image: url(img/icon_footer_contact_2.png);



}



.footer_contact li:nth-child(3){



    background-image: url(img/icon_footer_contact_3.png);



}



.footer_contact li:nth-child(4){



    background-image: url(img/icon_footer_contact_4.png);



}



.footer_bottom{



    background: #101010;



    padding: 15px 0;



}



.footer_bottom p{



    margin: 0;



    font-size: 11px;



    color: #f2f0f0;



    line-height: 20px;



    text-transform: uppercase;



}



.footer_menu ul{



    margin: 0;



    text-align: right;



}



.footer_menu ul li:last-child{



    border-right: 0px;



}



.footer_menu ul li{



    display: inline-block;



    border-right: 1px solid #f2f0f0;



    line-height: 10px;



}



.footer_menu ul li a{



    display: block;



    text-transform: uppercase;



    color: #f2f0f0;



    font-size: 11px;



    margin: 0 15px;



}



.footer_menu ul li a:hover{



    color: #29166F;



}















/* --------------------------------------------------------



Second Home Page CSS



-----------------------------------------------------------*/



.index2 .key_to_success_area .container .row .key_to_success .col-md-6{



    height: 100%;



}



.index2 .key_to_success_area{



    background: url(img/bg_index2_header_bottom.jpg);



    background-size: cover;



    background-repeat: no-repeat;



}



.index2 .key2seccess_txt h2{



    color: #333333;



}



.index2 .key2seccess_txt p{



    color: #555555;



}



.index2 .key2seccess_txt h2 span{



    color: #29166F;



}



.index2 .key2seccess_txt a{



    color: #29166F;



}



.key2seccess_txt a:hover{



    color: #fff;



}



.index2 .single_partner img {



  border: 0px;



}















/* --------------------------------------------------------



Our Degrees CSS



-----------------------------------------------------------*/



.our_degrees_area {



    overflow: hidden;



}



.od_bg1, .od_bg2{



    min-height: 530px;



    position: relative;



}



.od_bg1{



    background: #f8f8f8;



}



.od_bg2{



    background: #fdf5da;



}



.od_bg1:after, .od_bg2:after{



    position: absolute;



    height: 100%;



    width: 1000%;



    content: "";



    top: 0;



}



.od_bg1:after{



    right: 100%;



    background: #f8f8f8;



}



.od_bg2:after{



    left: 100%;



    background: #fdf5da;



}



.our_degrees_txt {



  margin-right: 40px;



  margin-top: 56px;



}



.our_degrees_txt h2{



    font-size: 32px;



    font-family: 'Libre Baskerville', serif;



    font-weight: 700;



}



.single_our_degree {



    overflow: hidden;



    padding-bottom: 31px;



}



.sing_degree_icon {



  border: 2px solid #a39976;



  border-radius: 50%;



  box-sizing: content-box;



  line-height: 65px;



  text-align: center;



  width: 65px;



  position: relative;



  margin: 0 auto;



}



.sing_degree_icon:after {



  content: "";



  height: 55px;



  left: 50%;



  position: absolute;



  top: calc(100% + 3px);



  width: 1px;



  background: url(img/degree_icon_after.png);



}



.single_our_degree:last-child{



    padding-bottom: 0;



}



.single_our_degree:last-child .sing_degree_icon:after{



    display: none;



}



.sing_degree_txt h2 {



  font-family: 'LatoHeavy', sans-serif;



  font-size: 16px;



    text-transform: uppercase;



}



.sing_degree_txt p {



    font-size: 16px;



    line-height: 26px;



}























/* --------------------------------------------------------



Upcoming Events CSS



-----------------------------------------------------------*/



.upcoming_events_area .section_heading {



    padding-bottom: 50px;



}



.all_events_box{



    text-align: center;



}



.single_events_box{



    position: relative;



    color: #fff;



    margin-bottom: 50px;



}



.single_events_box .sing_event_caption{



    position: absolute;



    top: 0;



    left: 0;



    height: 100%;



    width: 100%;



    background: rgba(0,0,0, .6);



    text-align: center;



    padding: 10px;



}



.single_events_box img{



    width: 100%;



}



.event_date{



    border: 2px solid #fff;



    width: 62px;



    padding: 10px 0;



    margin: 50px auto 0;



}



.event_date span{



    font-size: 19px;



    font-family: 'LatoHeavy', sans-serif;



    display: inline-block;



    line-height: 20px;



    width: 55px;



}



.event_time{



    background: #29166F;



    line-height: 28px;



    width: 94px;



    margin: 35px auto 50px;



}



.event_time span{



    font-size: 14px;



    text-transform: uppercase;



    font-weight: 700;



}



.sing_event_caption a{



    color: #fff;



    font-size: 16px;



    line-height: 24px;



    font-family: 'Libre Baskerville', serif;



    font-weight: 700;



}



.sing_event_caption a:hover{



    color: #29166F;



}



.all_events_link > a{



    display: inline-block;



    padding: 0 35px;



    border: 2px solid;



    color: #333333;



    line-height: 44px;



    text-transform: uppercase;



}



.all_events_link > a:hover{



    color: #29166F;



}



















/* --------------------------------------------------------



Latest From Our Blog CSS



-----------------------------------------------------------*/



.single_blog_post_box{



    border: 1px solid #ededed;



    box-shadow: -5px 5px 0 #f0f0f0;



    padding: 6px;



    margin-top: 50px;



}



.blog_post_photo{



    position: relative;



}



.blog_post_date_caption{



    position: absolute;



    top: 0;



    right: 0;



    width: 67px;



    height: 67px;



    background: #29166F;



    padding: 5px;



    text-align: center;



}



.blog_post_date_caption span{



    font-size: 20px;



    font-style: italic;



    color: #fff;



    line-height: 27px;



padding:0 5px;



}



.blog_post_heading{



    padding: 15px 5px 0;



    border-bottom: 1px solid #dddddd;



}



.blog_post_heading h2{



    margin-bottom: 10px;



}



.blog_post_heading h2 a{



    font-size: 16px;



    font-family: 'LatoHeavy', sans-serif;



    text-transform: uppercase;



    color: #333333;



}



.blog_post_heading h2 a:hover{



    color: #29166F;



}



.blog_post_heading p{



    font-size: 14px;



    color: #666666;



    font-style: italic;



    margin-bottom: 15px;



}



.blog_post_content{



    padding: 25px 5px 15px;



}



.blog_post_content p{



    font-size: 16px;



    line-height: 27px;



}







.foot ul.postfooter li {



  color: #888888;



  display: inline-block;



  margin-right: 20px;



  font-size: 13px;



}



.foot ul.postfooter li i {



  color: #29166F;



  font-size: 20px;



  margin-right: 5px;



  vertical-align: middle;



}



.foot ul.postfooter li a{



  color: #777777;



}











/* --------------------------------------------------------



Second Homepage Testimonial CSS



-----------------------------------------------------------*/



.index2 .testimonial_area{



    padding-bottom: 0;



    background-image: url(img/bg_index2_tesimonial.png);



}



.index2 .testimonial_area .section_heading {



  margin-bottom: 0;



}



.index2 .single_testi_slider{



    overflow: hidden;



    text-align: left;



}



.index2 .testi_studient_txt {



  margin-top: 65px;



    position: relative;



}



.index2 .testi_studient_txt i {



  color: #e4e3e3;



  font-size: 52px;



  left: -26px;



  position: absolute;



  top: -26px;



  z-index: -1;



}



















/* --------------------------------------------------------



Our Principles and Practices CSS



-----------------------------------------------------------*/



.priciples_and_practices_area{



    background: #f8f8f8;



}



.all_practice_box{



    padding-top: 50px;



}



.sing_practice_box{



    background: url(img/bg_sing_practice.png);



    padding: 10px;



    margin-bottom: 40px;



}



.sing_prac_content{



    background: #fff;



    text-align: center;



    padding-bottom: 80px;



}



.sing_prac_content img{



    margin: 50px 0;



}



.sing_prac_content h2{



    margin:0;



    font-size: 33px;



    font-family: 'Libre Baskerville', serif;



    font-weight: 700;



}











/* --------------------------------------------------------



Call to Action CSS



-----------------------------------------------------------*/



.call_to_action_area{



    background-image: url(../images/fondo_institucion_inscri.jpg);



    background-repeat: no-repeat;



    background-size: cover;



    background-attachment: fixed;



}



.call_to_action_area.section-padding{



    padding: 43px 0;



}



.call2action_txt h2{



    font-size: 27px;



    font-family: 'Libre Baskerville', serif;



    font-weight: 700;



    color: #fff;



}



.call2action_txt p{



    font-size: 18px;



    color: #fff;



}



.call2action_btn{



    margin-top: 30px;



}



.call2action_btn a{



    color: #fff;



    padding: 0 35px;



    border: 2px solid;



    font-size: 15px;



}















/* --------------------------------------------------------



Courses Page CSS



-----------------------------------------------------------*/



.course-page.section-padding{



    padding-top: 40px;



}



.view_all_course{



    text-align: center;



    padding-top: 50px;



}



.view_all_course a{



    background: #29166F;



    color: #fff;



    border-bottom: 2px solid #b52b00;



}



.call_to_action2{



    background: #f8f8f8;



    overflow: hidden;



    border: 1px solid #ececec;



}



.call2action2_photo {



    min-height: 240px;



    position: relative;



}



.call2action2_photo > img {



    bottom: 0;



    left: 0;



    position: absolute;



}



.call2action_apply{



    padding-top: 70px;



}



.call2action_apply h2{



    font-size: 26px;



    font-weight: 700;



    font-family: 'Libre Baskerville', serif;



}



.call2action_apply p{



    color: #222222;



    font-size: 16px;



    margin-bottom: 0;



}



.call2action_apply h3 a{



    color: #29166F;



    font-size: 12px;



    text-transform: uppercase;



    font-weight: 600;



}



.call2action_help {



    background: #313131;



    padding: 65px 28px 0;



    overflow: hidden;



    min-height: 240px;



    margin-left: 30px;



}



.call2action_help h2{



    color: #fff;



    font-size: 19px;



    font-weight: 700;



    font-family: 'Libre Baskerville', serif;



}



.call2action_help p{



    color: #fff;



}



.call2action_help a{



    color: #fff;



    font-size: 15px;



    margin-top: 20px;



}



















/* --------------------------------------------------------



404 Not Found Page CSS



-----------------------------------------------------------*/



.not_found404{



    text-align: center;



}



.not_found404 h1{



    font-size: 206px;



    font-family: 'Libre Baskerville', serif;



    font-weight: 700;



}



.not_found404 h2{



    font-size: 43px;



    color: #29166F;



    font-weight: 700;



    font-family: 'Libre Baskerville', serif;



}



.not_found404 h3{



    color: #555555;



    font-size: 32px;



    line-height: 43px;



}



























/* --------------------------------------------------------



Contact Page CSS



-----------------------------------------------------------*/



#map_area{



    min-height: 475px;



}



.google_map{



    position: relative;



}



.map_caption{



    padding: 45px 70px;



    position: absolute;



    top: calc(50% - 249px/2);



    left:calc(50% - 695px/2);



    background: #fff;



    width: 695px;



    z-index: 9;



}



.map_caption h2{



    font-size: 28px;



    font-weight: 700;



    text-align: center;



    font-family: 'Libre Baskerville', serif;



    margin-bottom: 25px;



}



.contact_info .col-sm-4:nth-child(2) ul {



    padding-top: 10px;



}



.contact_info .col-sm-4:nth-child(3) ul {



    padding-top: 15px;



}



.contact_info ul li{



    color: #666666;



    font-size: 12px;



    text-transform: uppercase;

	list-style:none;

    line-height: 24px;



}



.contact_info ul li a{



    color: #666666;



}



.map_caption a{



    color: #29166F;



    font-size: 12px;



    text-transform: uppercase;



}



.contact_info ul li i {



  font-size: 20px;



  margin-right: 5px;



  vertical-align: middle;



  margin-left: -25px;



}

.contact_info ul{

padding-left:0;

}

.map_caption > a i {



  margin-right: 5px;



  margin-left: -20px;



}



.send_us_email_area {



    background-repeat: no-repeat;



    background-position: scroll;



    background-attachment: left center ;



    background-size: cover;



    background-color: rgba(0, 0, 0, 0);



    overflow: hidden;



}



.send_email{



    background: #f8f8f8;



    padding-left: 35px;



    position: relative;



}



.send_email .section-padding{



    overflow: hidden;



    padding: 110px 0;



}



.send_email:after{



    position: absolute;



    top: 0;



    left: 100%;



    height: 100%;



    width: 1000%;



    background: #f8f8f8;



    content: "";



}



.send_email h2{



    color: #222222;



    font-size: 28px;



    font-weight: 700;



    text-align: center;



    font-family: 'Libre Baskerville', serif;



}











.email_form{



    padding-top: 50px;



}



.email_form label{



    display: block;



    font-size: 13px;



    color: #777777;



    margin-bottom:-10px;



}



.email_form label span{



    color: #29166F;



}



.email_form input{



    width: 100%;



    border: 1px solid #e5e4e4;



    line-height: 43px;



    height: 43px;



    margin-bottom: 20px;



    text-indent: 10px;



}



.email_form textarea{



    width: 100%;



    border: 1px solid #e5e4e4;



    height: 180px;



    margin-bottom: 35px;



    text-indent: 10px;



}



.email_form input[type="submit"]{



background: #29166F;



    color: #fff;



    border: 0px;



    width: 180px;



    text-transform: uppercase;



    font-family: 'LatoHeavy', sans-serif;



    border-bottom: 2px solid #bd2d00;



    margin-bottom: 0;



    box-shadow: 0 0 0 0;



    text-shadow: 0 0 0;



    border-radius: 0;



    padding: 0px 15px;



    font-weight: normal;



    font-size: 16px;



}



div.wpcf7-mail-sent-ok {



  border: 2px solid #398f14;



  height: 50px;



  overflow: hidden;



  bottom: -30px;



  position: relative;



  padding-top: 12px;



}























/* --------------------------------------------------------



Latest News Page CSS



-----------------------------------------------------------*/



.latest_news_area .single_blog_post_box, .single_post_area .single_blog_post_box{



    margin-bottom: 55px ;



}



.latest_news_area .single_blog_post_box:first-child, .single_post_area .single_blog_post_box:first-child{



    margin-top: 0;



}



.latest_news_area .blog_post_content p, .single_post_area .blog_post_content p{



    font-size: 15px;



    line-height: 32px;



}



.latest_news_area .blog_post_heading, .single_post_area .blog_post_heading{



  padding: 15px 10px 0;



}



.latest_news_area .blog_post_content, .single_post_area .blog_post_content{



  padding: 15px 15px 0;



}



















/* --------------------------------------------------------



Single Post Page CSS



-----------------------------------------------------------*/



.blog_post_footer{



    background: #f8f8f8;



    margin: -6px;



    border: 1px solid #ececec;



    line-height: 54px;



}



.blog_post_footer ul.postfooter{



    margin: 0;



    padding: 0 50px;



    overflow: hidden;



}



.blog_post_footer ul.postfooter li {



  color: #888888;



  display: inline-block;



  margin-right: 20px;



  font-size: 13px;



}



.blog_post_footer ul.postfooter li i {



  color: #29166F;



  font-size: 20px;



  margin-right: 5px;



  vertical-align: middle;



}



.blog_post_footer_right_item {



  float: right;



  text-transform: uppercase;



}



.blog_post_content blockquote{



    background: #efefef;



    padding: 35px 35px 35px 85px;



    position: relative;



    color: #555555;



    font-weight: 700;



    font-family: 'Libre Baskerville', serif;



    font-size: 16px;



    line-height: 34px;



    border-left: 0px;



}



.blog_post_content blockquote:before{



    content: "\f10d";



    font-family: "fontawesome";



    font-size: 30px;



    color: #29166F;



    position: absolute;



    left: 43px;



    top: 37px;



}



.blog_post_content blockquote:after{



    content: "";



    position: absolute;



    border-bottom: 22px solid #fff;



    border-left: 20px solid transparent;



    right: 0;



    bottom: 0;



}







.single_post_author_area{



    border: 1px solid #ededed;



    box-shadow: -5px 5px 0 #f0f0f0;



    margin-top: 38px;



    overflow: hidden;



    padding: 30px 0;



}







.author_photo{



    border-radius: 50%;



    text-align: center;



}



.author_photo img{



    border-radius: 50%;



}



.author_details h2{



    font-size: 18px;



    font-weight: 700;



    font-family: 'Libre Baskerville', serif;



    margin-bottom: 20px;



}



.author_details p{



    font-size: 16px;



    line-height: 28px;



}



.author_details ul{



    padding-top: 5px;



    margin: 0;



}



.author_details ul li{



    display: inline-block;



    margin: 0 10px;



}



.author_details ul li a{



    display: block;



    font-size: 16px;



}



.author_details ul li a:hover{



    color: #29166F;



}







.single_post_comment_area{



    border: 1px solid #ededed;



    box-shadow: -5px 5px 0 #f0f0f0;



    margin-top: 40px;



    padding: 25px 20px 50px;



}







.single_post_comment_area > h2, .comment_form > h2{



    font-size: 22px;



    font-weight: 700;



    font-family: 'Libre Baskerville', serif;



}



.com_author_photo img{



border-radius:50%;



}



h2.comment_list, h3.comment-reply-title{



    font-size: 22px !important;



    font-weight: 700 !important;



    font-family: 'Libre Baskerville', serif !important;



    margin-top: 20px;



}



ul.coments li{



    overflow: hidden;



    clear: both;



    padding: 30px 0;



    border-bottom: 1px solid #dddddd;



}



ul.coments > li:last-child{



    border-bottom: 0px;



}



ul.coments li ul {



  clear: both;



  margin-bottom: -30px;



  padding-top: 30px;



    list-style: none;



}



ul.coments li ul li {



  border-bottom: 0 none;



  border-top: 1px solid #dddddd;



  padding-left: 50px;



}



.comment_details h3{



    font-size: 17px;



    font-family: 'Libre Baskerville', serif;



    font-weight: 700;



}



.comment_details h3 a{



    color: #333;



}



.comment_details h4{



    font-size: 14px;



    color: #777777;



    font-style: italic;



}



.comment_details p{



    line-height: 25px;



}



.comment_details a.comment-reply-link{



    line-height: 28px;



    background: #29166F;



    color: #fff;



    padding: 0 20px;



    display: inline-block;



}



.comment_form{



    margin-right: 45px;



}



.comment_form form{



    padding-top: 30px;



}



.comment_form input, .comment_form textarea{



    width: 100%;



    border: 1px solid #ececec;



    line-height: 40px;



    height: 40px;



    text-indent: 20px;



    margin-bottom: 20px;



}



.comment_form textarea{



    height: 190px;



    margin-bottom: 30px;



}







.single_post_comment_area .comment-respond .submit{



    background: #29166F !important;



    color: #fff !important;



    text-transform: uppercase;



    width: 165px !important;



    border: 0px !important;



    border-bottom: 2px solid #cd3202;



    text-indent: inherit;



    margin-top: 20px;



    font-size: 16px;



    box-shadow: 0 0 0 0;



    text-shadow: 0 0 0;



    padding: 12px 20px !important;



    border-radius: 0 !important;



}











/* --------------------------------------------------------



Right Sidebar CSS



-----------------------------------------------------------*/



.right_sidebar{



    background: url(img/bg_sing_practice.png);



    padding: 10px;



}



.all_right_widgets{



    background: #fff;



    padding: 50px 30px;



}



.sing_right_widget{



    margin-top: 50px;



}



.sing_right_widget:first-child{



    margin-top: 0;



}



.sing_right_widg_content form input{



    line-height: 42px;



    height: 42px;



    border: 1px solid #ececec;



    width: 100%;



    text-indent: 20px;



    background: url(img/icon_search_black.png) no-repeat scroll 90% center;



}



.sing_right_widg_content form input[type="submit"]{



    display: none;



}



.sing_right_widget > h2{



    font-size: 18px;



    font-weight: 700;



    font-family: 'Libre Baskerville', serif;



    margin-bottom: 27px;



}



.lat_news_right > li {



    overflow: hidden;



}



.lat_news_right img {



    float: left;



    margin-right: 20px;



}



.lat_news_right_con {



    float: left;



    width: 200px;



}



.lat_news_right_con h3{



    font-size: 13px;



    text-transform: uppercase;



    line-height: 18px;



    margin-bottom: 10px;



}



.lat_news_right_con h3 a{



    color: #222222;



}



.lat_news_right_con h3 a:hover{



    color: #29166F;



}



.lat_news_right_con h4{



    color: #ff5722;



    font-size: 13px;



    font-style: italic;



    margin-bottom: 0;



}



.lat_news_right li{



    border-bottom: 1px solid #e8e8e8;



    padding: 20px 0;



}



.lat_news_right li:first-child{



    padding-top: 0;



}



.lat_news_right li:last-child{



    padding-bottom: 0px;



    border-bottom: 0px;



}



.upcoming_events_right{



    overflow: hidden;



}



.upcoming_events_right img{



    margin: 7.5px 0;



    height: auto;



    width: 85px;



}



.single_social_share{



    padding: 15px 0;



    text-align: center;



    color: #fff;



}



.single_social_share a{



    color: #fff;



    font-size: 20px;



    width: 47px;



    line-height: 47px;



    background: rgba(255,255,255,.1);



    display: block;



    border-radius: 50%;



    margin: 0 auto;



}



.single_social_share a:hover{



    background: rgba(255,255,255,.2);



}



.social_share_logo_right{



    overflow: hidden;



}



.social_share_logo_right .col-md-4:nth-child(1) .single_social_share{



    background: #3b59a1;



}



.social_share_logo_right .col-md-4:nth-child(2) .single_social_share{



    background: #46b0e4;



}



.social_share_logo_right .col-md-4:nth-child(3) .single_social_share{



    background: #dd4c39;



}



.single_social_share span{



    margin-top: 20px;



    font-size: 15px;



    display: block;



}











.tagcloud{



    overflow: hidden;



}







.tagcloud a{



    display: block;



    color: #777777;



    padding: 0 13px;



    line-height: 30px;



    font-size: 13px !important;



    border: 1px solid #dbdbdb;



    float: left;



    margin: 4px;



}



.tagcloud a:hover{



    background: #29166F;



    color: #fff;



    border: 1px solid #29166F;



}











/* --------------------------------------------------------



Single Event Page CSS



-----------------------------------------------------------*/



.single_event_post_box {



  border: 1px solid #ededed;



  box-shadow: -5px 5px 0 #f0f0f0;



  padding: 6px 6px 50px;



}







.event_post_info{



    background: #29166F;



    margin: 3px 0 35px;



    padding: 15px 0;



}



.event_post_info ul{



    text-align: center;



    margin: 0;



    padding-left:0;



}



.event_post_info ul li {



  color: #fff;



  display: inline-block;



  margin: 0 45px;



}



.event_post_info ul li i {



  font-size: 28px;



  font-weight: bold;



  vertical-align: middle;



  margin-right: 15px;



}



.event_post_txt{



    padding: 0 13px;



}



.event_post_content > h2{



    font-size: 16px;



    font-family: 'LatoHeavy', sans-serif;



    margin-bottom: 25px;



    text-transform: uppercase;



}



.event_post_content > p{



    line-height: 32px;



}



.event_post_content blockquote {



    margin-left: 50px;



    padding: 15px 30px;



    border-left: 3px solid #29166F;



    font-size: 16px;



    line-height: 32px;



    font-family: 'Libre Baskerville', serif;



    font-weight: 700;



}



.event_post_footer ul{



    margin: 0;



}



.event_post_footer ul li{



    display: inline-block;



}



.event_post_footer ul li a{



    display: block;



    background: #29166F;



    color: #fff;



    font-size: 13px;



    text-transform: uppercase;



    font-family: 'LatoHeavy', sans-serif;



    line-height: 42px;



    border-bottom: 2px solid #b52b00;



    padding: 0 40px;



    margin-right: 11px;



}



.event_location{



    border: 1px solid #ededed;



    box-shadow: -5px 5px 0 #f0f0f0;



    padding: 30px;



    margin-top: 38px;



}



.event_location h2{



    font-size: 22px;



    font-family: 'Libre Baskerville', serif;



    font-weight: 700;



    margin-bottom: 25px;



}



#event-map{



    height: 405px;



}



















/* --------------------------------------------------------



Stay Connect CSS



-----------------------------------------------------------*/



.stay_connected_area{



    margin-top: 100px;



}



.stay_con_border{



    background: url(img/bg_sing_practice.png);



    padding: 10px;



}



.stay_connect{



    background: #fff;



    padding: 10px;



}



.stay_con_txt{



    padding-top: 20px;



}



.stay_con_txt h2{



    font-size: 22px;



    font-weight: 700;



    font-family: 'Libre Baskerville', serif;



    margin-bottom: 20px;



}



.stay_con_txt p{



    font-size: 16px;



    line-height: 30px;



}



.stay_con_txt a{



    font-size: 13px;



    color: #fff;



    background: #29166F;



    border-bottom: 2px solid #a42700;



    margin-top: 30px;



}











/* --------------------------------------------------------



About Alumni CSS



-----------------------------------------------------------*/



.all_alumni_item{



    padding-top: 50px;



}



.single_alumni_box{



    border: 1px solid #ededed;



    box-shadow: -5px 5px 0 #f0f0f0;



    overflow: hidden;



    padding: 9px;



    margin-top: 35px;



}



.all_alumni_item .col-md-6:nth-child(1) .single_alumni_box, .all_alumni_item .col-md-6:nth-child(2) .single_alumni_box{



    margin-top: 0px;



}



.sing_alumni_txt {



  padding-top: 9px;



}



.sing_alumni_txt h2{



    font-size: 20px;



    font-weight: 700;



    font-family: 'Libre Baskerville', serif;



}



.sing_alumni_txt p{



    line-height: 26px;



}



.sing_alumni_txt a{



    font-size: 12px;



    font-family: 'LatoHeavy', sans-serif;



    color: #29166F;



    text-decoration: underline;



    text-transform: uppercase;



}















/* --------------------------------------------------------



Only For IE CSS



-----------------------------------------------------------*/



.ie8 .key2seccess_photo img {



  max-height: 70%;



}



.ie8 .key2seccess_txt {



  top: 40%;



}



.ie8 .course_search select {



  padding: 4px 0 16px 0;



  margin-right: 0.5%;



}



.ie8 .course_search input[type="submit"] {



  margin-top: 35px;



  margin-left: auto;



  margin-right: auto;



}



.ie8 .od_bg1, .ie8 .od_bg2 {



  min-height: 560px;



}



.ie8 .sing_degree_icon:after {



  top: 100%;



}



.ie8 .breadcrumb_area {



  overflow: visible;



}



.ie8 .map_caption {



    left: 50%;



    top: 50%;



    margin-left: -347.5px;



    margin-top: -129.5px;



}



.ie8 .send_us_email_area {



    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.img/bg_contact_page.jpg', sizingMethod='scale');



    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bg_contact_page.jpg', sizingMethod='scale')";



}



.ie8 .breadcrumb_top {



    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.img/bg_breadcrumb.jpg', sizingMethod='scale');



    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bg_breadcrumb.jpg', sizingMethod='scale')";



}



.ie8 .call_to_action_area{



    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.img/bg_call_to_action.jpg', sizingMethod='scale');



    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bg_call_to_action.jpg', sizingMethod='scale')";



}



.ie8 .single_events_box .sing_event_caption{



    background:transparent;



    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);



}



.ie8 ul.nav.navbar-nav > li > a:after {



    display: none;



}



.ie8 ul.nav.navbar-nav > li > a:hover:after, ul.nav.navbar-nav > li.current_page_item > a:after {



    display: block;



}



.ie8 .single_our_degree:last-child .sing_degree_icon{



    overflow: hidden;



}



.ie8 .breadcrumb_nav ul li a:after{



    content: ">";



}



























/* mailchimp */



.newslatter .form form input[type=submit]{



	display:none;



}











/* slider area */



.banner_img{



  height:643px;



}



.header_content{



    z-index: 21;



}















/* category widget  */



.sing_right_widg_content ul li.cat-item{



  margin-bottom: 20px;



}







.sing_right_widg_content li{



   list-style:none;



   -webkit-transition: .5s;



  -moz-transition: .5s;



  -ms-transition: .5s;



  -o-transition: .5s;



  transition: .5s;



}



.sing_right_widg_content li i{



  font-size: 15px;



}



.sing_right_widg_content li:hover,



.sing_right_widg_content li:hover a{



    color: #29166F;



}















/* comment form styling */







.comment-respond input {



  width: 46.75%;



  margin-right: 10px;



padding: 8px 20px;



  color: #A9A9B1;



  font-weight: 400;



border: 1px solid #ececec;



}



.comment-form-comment{



margin-top:15px;



}



.comment-form-comment textarea{



color:#A9A9B1;



border: 1px solid #ececec;



padding: 8px 20px;



width: 95.5%;



}







h3.comment-reply-title small{



display: block;



  float: right;



  margin-right: 30px;



}



h3.comment-reply-title small:hover a{



color:#29166F;



text-decoration:none;



}



h3.comment-reply-title small a{



text-decoration:none;



}











/* latest tweet */







.latest_tweet img{



  width: 60px;



  float: left;



  margin-left: -30px;



  margin-right: 15px;







}



.latest_tweet li span{



    display: block;



}











/*page comment box*/

.page_commentbox h2.comment_list,



.page_commentbox h3.comment-reply-title{



margin-top:50px;



}







.page_commentbox .comment-form-comment textarea{



width:100%;



}



.page_commentbox h3.comment-reply-title small{



margin-right:0;



}



.page_commentbox .comment-respond .form-submit input.submit,

.page_commentboxf .comment-respond .form-submit input.submit{



    box-shadow: 0 0 0 0;



    text-shadow: 0 0 0;



    border-radius: 0;



    color: #fff;



    background: #29166F;



    padding: 12px 0;



    width: 250px;



border-color:#29166F;



}



.page_commentbox .comment-respond .form-submit input.submit:hover{



border-color:#29166F;



    padding: 12px 0;



    width: 250px;



}



.page_commentbox .comment-respond input{



width: 49.48%;



}



.page_commentboxf .comment-respond input{



width: 47.1%;



}

.page_commentbox .comment-respond input#email{

margin-right:0;

}

.page_commentboxf h3.comment-reply-title small{

margin-right:50px;

}

























/*  pagination */



#pagi h2.screen-reader-text{



  display: none;



}



.nav-links a{



background: #222222;



  padding: 8px 10px;



  color: #fff;



  margin: 0 3px;



text-decoration:none;



    -webkit-transition: .7s;



    -moz-transition: .7s;



    -o-transition: .7s;



  transition:.7s;



}



.nav-links span.dots{  



  padding: 8px 10px;



}



.nav-links span.current{



  background: #29166F;



  padding: 8px 10px;



  color: #fff;



  margin: 0 3px;



}



.nav-links a:hover{



background: #29166F;



}

.pe-7s-mail{
    padding-bottom: 3px;
}






  .form-signin {
  	background-color:#FFF;

  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.fondo {
  background:url('../fotos/12.jpg') no-repeat center center fixed;
   background-size:100% 100%;
   padding-top: 140px;
}




.top-cursos {
	position: absolute;
	bottom: 0px;
	left: 0 ;
	z-index: 10
}

.incripciones {
	margin-top:15px;
}
.incripciones label {
	color:#fff;
	font-size: 18px;
	font-weight: 100
}
.incripciones input{
	 color: #29166F !important;
}

.incripciones >form button{

	
	margin-top:20px;
    display: inline-block;



    padding: 0 45px;



    border: 2px solid;



    color: #333333;



    line-height: 44px;



    text-transform: uppercase;



}



.incripciones >form button:hover{

    color: #29166F;

}

.all_partners img {
width: auto;
display: inline-block;
vertical-align: middle;
height: 80px;
margin:10px;
}

@media only screen and (max-width: 767px) {
.logo .navbar-toggle .icon-bar {
    background: #29166F;
}
.top-cursos {
	display: none
}
}